.forgot-password-form {
  background-color: #fff;
  padding: 0px 30px 0px 10px;
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
}

.forgot-password-form h5 {
  color: #333;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.forgot-password-input,
.forgot-password-button {
  width: 100%; /* Ensure both elements take full width */
  padding: 12px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

.forgot-password-input {
  background-color: #f7f7f7;
  transition: border-color 0.3s ease;
}

.forgot-password-input:focus {
  border-color: #2A3650;
  box-shadow: 0 0 5px rgba(42, 54, 80, 0.2);
  outline: none;
}

.forgot-password-button {
  background-color: #2A3650;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.forgot-password-button:disabled {
  background-color: #b0bec5;
  cursor: not-allowed;
}

.forgot-password-button:hover:not(:disabled) {
  background-color: #1f2a3b;
}

.forgot-password-success,
.forgot-password-error {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.forgot-password-success {
  color: #28a745;
}

.forgot-password-error {
  color: #dc3545;
}

.reset-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
.back-to-login-button {
  background: none;
  border: none;
  color: #2A3650;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  margin-top: 15px;
  display: block;
  width: 100%;
}
