.dashboard-tabs {
  padding: 10px 5px;
  margin-bottom:5px ;
  display: flex;
  justify-content: space-between; /* Spread items to the left and right */
  align-items: center; /* Center-align the items vertically */
  text-align: center;
}

.dashboard-tab-group-left {
  display: flex;
  justify-content: flex-start;
  gap: 10px; /* Add space between tabs */
}


.dashboard-tab-group-right {
  display: flex;
  margin-right: 2%; /* Move this group to the far right */
}

.dashboard-tab.add-listing {
  margin-left: 55px; 
}

.dashboard-tab {
  padding: 6px 12px;
  margin: 0px;
  border: none;
  border-radius: 3px;
  background-color: #ced4d5;
  color: #2c3e50;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  align-items: center;

}

.dashboard-tab:hover{
  background-color: #2c3e50;
  color: #ffffff;
}

.dashboard-tab.active {
  background-color: #2c3e50;
  color: #ffffff;
}

/* Button that opens the dropdown */
.dashboard-dropdown-toggle {
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 500;
  background-color: #ced4d5;
  color: #2c3e50;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
}

.dashboard-dropdown-toggle:hover,
.dashboard-dropdown-toggle:focus {
  background-color: #2c3e50;
  color: #fff;
  outline: none;
}

/* Dropdown menu container */
.dashboard-dropdown-menu {
  position: absolute;
  margin-top: 4px;
  background-color: #f3f3f3;
  border:none;
  border-radius: 6px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  min-width: 100px;
  z-index: 100;
  width: 110px;
}

/* Dropdown items */
.dashboard-dropdown-menu button {
  width: 100%;
  text-align: left;
  padding: 8px;
  font-size: 12px;
  color: #2c3e50;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dashboard-dropdown-menu button:hover,
.dashboard-dropdown-menu button.active {
  background-color: #2c3e50;
  color: white;
}
.buyalert {
  position: relative;
  height: 76vh;
  background-color: #f9f9f9; /* light background for better visibility */
   overflow-y: auto; 
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05); /* subtle shadow for depth */
  margin: 10px;
}
