.dashboard-tabs {
  padding: 10px 5px;
  margin-bottom:5px ;
  display: flex;
  justify-content: space-between; /* Spread items to the left and right */
  align-items: center; /* Center-align the items vertically */
  text-align: center;
}

.dashboard-tab-group-left {
  display: flex;
  justify-content: flex-start;
  gap: 10px; /* Add space between tabs */
}


.dashboard-tab-group-right {
  display: flex;
  margin-right: 2%; /* Move this group to the far right */
}

.dashboard-tab.add-listing {
  margin-left: 55px; 
}

.dashboard-tab {
  padding: 6px 12px;
  margin: 0px;
  border: none;
  border-radius: 3px;
  background-color: #ced4d5;
  color: #2c3e50;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  align-items: center;

}

.dashboard-tab:hover{
  background-color: #2c3e50;
  color: #ffffff;
}

.dashboard-tab.active {
  background-color: #2c3e50;
  color: #ffffff;
}


.dashboard-tab-dropdown-container {
  display: flex;
  align-items: center;
}

.dashboard-tab-dropdown {
  padding: 6px 0px;
  font-size: 12px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  background-color: #ced4d5;
  color: #2c3e50;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  min-width: 80px;
}

.dashboard-tab-dropdown:hover {
  background-color: #2c3e50;
  color: #fff;
}

.dashboard-tab-dropdown:focus {
  outline: none;
}
