/* Container Styling */
.favorites-container {
    position: relative;
    top:20px;
    max-width: 1200px;
    margin: 0px auto;
    padding:5px 20px 20px 20px; /* Added padding to the top for better spacing */
    background-color: #f4f4f4; /* Light gray background for the entire layout */
    border-radius: 8px; /* Optional: Rounded corners for container */
}


.favorites-tabs {
    display: flex;
    gap: 15px;
    margin: 15px 0px;
}

.favtab-button {
    padding: 8px;
    border: none;
    background-color: #e0e0e0 ;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

.favtab-button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.favtab-button.active {
    color: white;
    background-color: #2A3650;
    border-radius: 4px;
    transition: background 0.3s ease-in-out;
}

/* Empty State Styling */
.favorites-empty {
    text-align: center;
    font-size: 16px; /* Increased font size for better readability */
    color: #555;
    padding: 20px 0;
}

/* Grid Layout */
.favorites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
}

/* Card Styling */
.favorites-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out;
    position: relative;
}
.favorites-card:hover {
    transform: translateY(-5px);
}

/* Image Container */
.favorites-image-container {
    width: 100%;
}

.favorites-image-container img {
    width: 100%;
    max-height: 230px;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9; /* Maintain consistent aspect ratio */
}
/* Details Section */
.favorites-details {
    padding: 10px 12px 10px 10px;
}

.favoritestop-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Title Text */
.favorites-title {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65%;
}


/* Address Section */
.favorites-address-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.favorites-address {
    font-size: 11px;
    color: #777;
    flex: 1; /* Ensure the address takes available space */
}

.details-button {
    background-color: #2A3650;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
    transition: background-color 0.3s ease;
}


.details-button:hover {
    background-color: #1e2a38; /* Darker shade on hover */
}

.details-button:focus {
    outline: none;
}

.favcompare-checkbox {
    position: relative;
    font-size: 11px; 
    display: flex;
    align-items: baseline;
    cursor: pointer; 
    align-items: center;
    justify-content: center;   
}

/* .favcompare-checkbox label{
    position: relative;
    bottom: 20%;
} */

.favcompare-checkbox input[type="checkbox"] {
    cursor: pointer;
    vertical-align: middle;
    margin-left: 5px; /* Space between the "Compare" text and the checkbox */
}


/* Remove button styling */
.favorites-remove-button {
    background: none;
    border: none; /* Remove border */
    color: #333; /* Icon color */
    cursor: pointer;
    font-size: 14px; /* Adjust size of the icon */
    display: flex;
    align-items: center; /* Center align icon */
    justify-content: center;
    margin-left: 6px;
    padding: 0; /* Remove extra padding */
    transition: color 0.3s ease; /* Smooth color transition */
}

.favorites-remove-button:hover {
    color: #d9534f; /* Change to a red color on hover */
}



.compare-label {
    font-size: 0.8em; /* Reduce font size */
    margin-left: 5px; 
}

.favcompare-button-container {
    position: fixed;
    bottom: 0;
    right: 0; /* Align to the right */
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align to the right side */
    padding: 10px 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    width: auto; 
    z-index: 3;
}

.favcompare-button-container p {
    font-size: 15px;
    padding: 0px 10px 0px 10px;
    color: #333;
    margin-bottom: 8px;
}

.favcompare-button {
    background-color: #2A3650;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.favcompare-button:hover {
    background-color: #1e2a38; /* Darker shade on hover */
}

.favcompare-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.favcompare-button {
    background-color: #2A3650; /* Bootstrap primary color */
    color: white; /* Button text color */
    padding: 10px 20px; /* Padding for a better click area */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth background transition */
    font-size: 16px; /* Font size */
}

.favcompare-button:hover {
    background-color: #2A3650; /* Darker shade on hover */
}

.favcompare-button:disabled {
    background-color: #ccc; /* Gray background when disabled */
    cursor: not-allowed; /* Not-allowed cursor */
}

.shortlist-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #333;
    font-size: 1rem;
}

.shortlist-icon {
    position: absolute;
    top: 10px; /* Adjust this value to fine-tune the distance from the top */
    right: 10px; /* Adjust this value to fine-tune the distance from the right */
    z-index: 2; /* Ensure it stays above the image */
}

.shortlist-icon {
    font-size: 1.5rem;
    color: #ccc;
}

.shortlist-icon.highlighted {
    color: #FFD700;
}

.shortlist-button.shortlisted {
    color: #FFD700;
    font-weight: bold;
}


/* Responsive Design */
@media (max-width: 1024px) {
    .favorites-grid {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* 4 items per row on medium screens */
    }
}

@media (max-width: 768px) {
    .favorites-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 2 items per row on small screens */
    }

    .favorites-header {
        font-size: 20px;
    }

    .favorites-title {
        font-size: 12px;
    }

    .favorites-address {
        font-size: 11px;
    }
}



@media (max-width: 480px) {
    .favorites-grid {
        grid-template-columns: 1fr; /* Single column for small screens */
    }

    .favorites-image-container {
        height: 180px; /* Adjusting height for mobile screens */
    }

    .favorites-title {
        font-size: 14px;
    }

    .details-button {
        font-size: 10px;
        padding: 5px;
    }
}