@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: 'Outfit', sans-serif; /* Use Outfit */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev, .slick-next {
  z-index: 10 !important;
}
.slick-prev{
  left: 0 !important;
}
.slick-next{
  right: 0 !important;
}
.slick-dots{
  bottom: 0px !important;
  background: #45454591 !important;
}

:root {
  --toastify-color-success: #251841;
  --toastify-z-index: 1000 ;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-15 {
  margin-bottom: 15px;
}