/* Dropdown menu styles */
.navbartopdropdown-menu {
  position: absolute;
  top: 52px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: auto; /* Ensure width adjusts based on content */
  max-width: 280px; /* Optional: maximum width for consistency */
}


.navbaritem-container {
  display: flex;
  flex-direction: column;
}

.navbaritem-container p {
  margin: 0;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 500;
  color: #2a3650;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover effect for the items */
.navbaritem-container p:hover {
  background-color: #f1f1f1;
  color: #1a1a1a;
  font-weight: 600;
}
